.form-control {
    text-align: center;
    border: 1px solid #009cde;
    padding: 1rem;
    margin: 2rem auto;
    width: 30rem;
    max-width: 80%;
}

.form-header-container {
    width: 30rem;
    margin: 0 auto;
}

.form-header {
    color: #2d2d2d;
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: .6rem;
    border-bottom: 2px solid #009cde;
    margin-bottom: 4rem;
}